.search-container {
    color: #59689a;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
}

.search-title {
    font-size: 1.5em;
    font-weight: 600;
}

.search-input {
    border: 1px #59689a solid;
    font-size: 1em;
    padding: 8px;
    width: calc(75% - 18px);
}

.search-input-wrapper {
    width: 100%;
}

.search-button {
    width: 25%;
}