@import url('https://fonts.googleapis.com/css?family=Audiowide');

.title-container{
    color: #fff;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #92599a;
    background-color: #92599a;
}

.title-dpp {
    line-height: 50px;
    margin-left: -4px;
    font-family: 'Audiowide', cursive;
    font-size: 64px;
}

.subtitle-dpp {
    font-size: 1.2em;
}