.video-container {
    position: relative;
    width: 100%;
    height: 63vw; /* trick for making the iframe ratio work */
    margin-bottom: -24vw; /* magic number */
    flex-flow: wrap;
    display: flex;
    align-content: flex-start;
}

.video-player {
    width: 100%;
    height: 56%;
}

h2 {
    margin: 0 0 0.5em 0;
}

img {
    max-width: 100%;
}

.voting-button {
    text-shadow: 3px 1px #1a8a8a;
    width: 50%;
    border: 1px #fff solid;
    font-size: 2em;
    padding: 0.5em;
}