body {
  background-color: #ddaada;
}

.App {
  text-align: center;
}

button {
  color: #fff;
  padding: 8px;
  border: 1px solid #59689a;
  background-color: #59689a;
  font-size: 1em;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
}